:root{
    --colorPrimario: #000000;
    --colorSecundario: #ffffff;

}


/* Normalize css little trick to establish good parameters */
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*,*:before, *:after{
    box-sizing: inherit;
}
/* End of the normalize trick */


/* Utilidades Globales -----------------------------------------------*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.center-text{
    text-align: center;
}


/* BEGINING OF INDEX.HTML STYLES ###################################################################################################################### */

/* Header Area -----------------------------------------------*/
.header{
    background-color: var(--colorPrimario);
    height: 15rem;
}


/* Contenedor Area -----------------------------------------------*/
.contenedor{
    width: min(90%,120rem);
    margin: 0 auto;
}


/* Barra Area ----------------------------------------------- */
.barra{
   padding-top: 0rem;
   height: 10rem; 
}
@media(min-width: 768px){
    .barra{
        display: flex;
        text-align: right;
        justify-content: space-between;
        align-items: center;
    }
}


/* Logo Area -----------------------------------------------*/
.logo{
    height: 100%;
    display: flex;
    margin-left: 2rem;
}
.logo__img{
    height: 63%;
    margin: auto;    
}


/* Navegacion Area -----------------------------------------------*/
@media(min-width: 768px){
    .navegacion{
        display: flex;
        margin-right: 2rem;
        gap: 3rem;
    }
}
.navegacion__text{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: var(--colorSecundario);
    margin-top: 2rem;
}
.navegacion__activa{
    border-bottom: 3px solid white;
}
.navegacion__text:hover{
    border-bottom: 3px solid #348ac7;
}


/* Main Area -----------------------------------------------*/
.contenedor-foto{
    background-image: url(../img/landing.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 69rem;
    margin: 0 auto;
    padding-top: 21rem;
}
.contenedor-foto__texto{
    color: white;
    text-align: right;
    margin: auto;
    width: min(90%,120rem);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1.5rem;
}
.contenedor-foto__p1{
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.contenedor-foto__p2{
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
}
.contenedor-foto__p3{
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 500;
}


/* First Section Area -----------------------------------------------*/
.section-1{
    background-color: var(--colorPrimario);
    width: 100%;
    color: var(--colorSecundario);
    padding-top: 7.8rem;
    padding-bottom: 5rem;
}
.section-1__tittle{
    width: min(90%,120rem);
    margin: auto;
    position: relative;
    padding-left: 16rem;
}
.section-1__tittle h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.6rem;
    font-weight: 300;
}
.section-1__tittle h2{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid white;
    width: 16rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 200;
    width: 35%;
}
.section-1__content{
    width: min(90%,120rem);
    margin: auto;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 16rem;
    padding-right: 16rem;
}
.section-1__content-1{
    grid-column: 1 / 2;
}
.section-1__content-1 h3,
.section-1__content-2 h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}
.section-1__content-1 p,
.section-1__content-2 p{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2.5rem;
}
.section-1__content-2{
    grid-column: 2 / 3;
}


/* Second Section Area -----------------------------------------------*/
.section-2{
    background-color: var(--colorPrimario);
    width: 100%;
    color: var(--colorSecundario);
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.section-2__content{
    width: min(98%,120rem);
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.section-2__content-2{
    padding: 4rem;
    line-height: 2.5rem;
}
.section-2__content-2 h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
}
.section-2__content-2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
.section-2__content-1 img,
.section-2__content-4 img{
width: 100%;
}
.section-2__content-3{
    padding: 4rem;
    line-height: 2.5rem;
}
.section-2__content-3 h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
}
.section-2__content-3 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}